
Body {font-family: Verdana, "Times New Roman", sans-serif;
        background: white

}
#header{ 
        color: green;
}
.header{
        color:red;
}
.head-one{
        color:orange;
}
.text {
        color: blue
}

